{% extends 'store/base.html' %}

{% block title %}Історія замовлень - My Shop{% endblock %}

{% block content %}
<h1>Історія замовлень</h1>
<ul>
  {% for order in orders %}
    <li>
      Замовлення №{{ order.id }} от {{ order.created_at }} - Статус: {% if order.is_completed %}Завершено{% else %}
      В процессі{% endif %}
      <ul>
        {% for item in order.orderitem_set.all %}
          <li>{{ item.product.name }} (x{{ item.quantity }})</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
{% endblock %}